* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  .title {
    font-weight: bold;
    text-align: center;
  }
}

.main-content {
  display: flex;
  .toDoListPanel {
    width: 40%;
    margin: 24px;
    .tab-panel {
      margin-bottom: 24px;
    }
    .tab-panel label {
      margin-right: 12px;
    }
    .toDoItem {
      display: flex;
      margin-bottom: 24px;
      .finish {
        width: 20%;
        display: flex;
        align-items: center;
        .status {
          margin-left: 8px;
        }
      }
      .content-panel {
        flex: 1;
      }
    }
  }
  .input-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
    .input-title {
      width: 100%;
      height: 40px;
      margin-bottom: 12px;
    }
    .input-description {
      width: 100% !important;
      height: 100px !important;
      resize: none;
      margin-bottom: 12px;
    }
    .add-button {
      width: 100%;
      height: 40px;
    }
  }
}
